@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Estudos: #4C71FA;
    --Dúvidas: #ff00b7;
    --Eventos: #D9260B;
    --Diy: #FF8624;
    --Serviços: #9B51F0;
    --Produtos: #1FDB1B;
    --Outros: #292929;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241); 
}
p {
    color: rgb(0, 0, 0);
}
#logo{
    width: 100px;
    height: 100px;
    display: flex;
}
.navbar{
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: normal;
    gap: 30px;
    background-color: white;
}
.navbar-item{
    text-decoration: none; 
}
.categorias{
    width: 10%;
    height: 100%;
    margin-top: 30px;
    background-color: #ffffff6b;
    border-radius: 5%;
    padding: 30px;
}
.item{
    display: flex;
}

main{
    display: flex;
}

.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: left;
    height: auto;
    width: 600px;
    background-color: white;
    margin: 20px;
    padding: 20px
}

.post > #usuario-user{
    margin-top: 15px;
    font-family: none;
    color: rgb(78, 78, 78);
}

.post > h3{
    margin-top: 5px;
}


#categoria{
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    border-radius: 50px;
}

.alinhamento-categoria{
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
    right: 2px;
}

#alegria{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inferior-post{
    display: flex;
    border-top: 1px solid rgb(199, 199, 199);
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.inferior-post > button > img{
    height: 20px;
    width: 20px;
}

.inferior-post > button{
    height: 20px;
    width: 20px;
    border: none;
    background-color: white
}

.inferior-post > .btn-comentar > img{
    height: 23px;
    width: 23px;
}


.inferior-post > button{
    height: 20px;
    width: 100px;
    margin-top: 15px;
}


.model{
    display: none;
    visibility: hidden;
}