@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241); 
}
p {
    color: rgb(0, 0, 0);
}
#logo{
    width: 100px;
    height: 100px;
    display: flex;
}
.navbar{
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: normal;
    gap: 30px;
    background-color: white;
}
.navbar-item{
    text-decoration: none; 
}
.categorias{
    width: 10%;
    height: 100%;
    margin-top: 30px;
    background-color: #ffffff6b;
    border-radius: 5%;
    padding: 30px;
}
.item{
    display: flex;
}

main{
    display: flex;
}

.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    background-color: white;
    margin: 20px;
    padding: 20px;

}

.post > #usuario-user{
}

.inferior-post{
    display: flex;
    border-top: 1px solid rgb(199, 199, 199);
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.inferior-post > button{
    height: 20px;
    width: 100px;
    margin-top: 15px;
}